.form {
  display: flex;
  flex-direction: column;
  max-width: 30em;
}

.formItem {
  padding: 1em;
  margin: 1em 0;
  flex-grow: 1;
}

.formTextArea {
  @extend .formItem;
  min-height: 8em;
}

.arrayItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}

.buttonItem {
  width: 3rem;
  height: 3rem;
  flex-grow: 0;
  font-size: 1.5em;
}

.feedback {
  padding: 1em;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
  border-radius: 4px;
}