.borderedSortableTable {
  border-collapse: collapse;
  width: 100%;
  text-align: center; /* Center-align the table content */
}

.borderedSortableTable th,
.borderedSortableTable td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.borderedSortableTable th {
  background-color: #f2f2f2;
}

.borderedSortableTable th:last-child,
.borderedSortableTable td:last-child {
  width: 10%; /* Set the width of the last column to 10% */
}

.borderedSortableTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.borderedSortableTable tr:hover {
  background-color: #ddd; /* Highlight row on hover */
}
