.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.heading {
  margin-bottom: 20px;
  font-size: 36px;
}

.searchContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.searchInput {
  width: 500px;
  padding: 10px;
  font-size: 26px;
}

.searchButton {
  padding: 10px 20px;
  font-size: 26px;
}

.resultsContainer {
  padding: 10px 20px;
  font-size: 26px;
}
/* searching result table styles */

.resultsTable {
  border-collapse: collapse;
  width: 100%;
  text-align: center; /* Center-align the table content */
}

.resultsTable th,
.resultsTable td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.resultsTable th {
  background-color: #f2f2f2;
  text-align: center; /* Center-align the table header */
}

.resultsTable th:last-child,
.resultsTable td:last-child {
  width: 10%; /* Set the width of the last column to 20% */
  text-align: center;
}

.resultsTable tr:nth-child(even) {
  background-color: #f2f2f2;
  text-align: center;
}

.resultsTable tr:hover {
  background-color: #ddd;
}
.radioInput {
  width: 25px; // Adjust based on your desired size
  height: 25px;
  margin-right: 5px; // Some space between radio and its label
  vertical-align: middle; // To align with the text
}
.labelText {
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
}
.filterOptions {
  padding: 30px;
}
.yearRangeContainer {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.yearInput {
  font-size: 24px;
  width: 150px;
  padding: 10px;
  margin-left: 10px;
}
.yearLabel {
  padding: 15px;
}
